*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 400px;
    width: 245px;
    border: 1px solid rgb(123, 120, 120);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(128, 134, 134);
}
.display{
    border: 1px solid rgb(146, 144, 144);

}
#userinput{
    border-style: 1px solid rgb(116, 114, 114);
    height: 80px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(232, 234, 234);
}

.keypad{
    border: 1px solid rgb(168, 167, 167);
    
}
.keypad button{
    border-bottom: 50%;
    height: 40px;
    width: 50px;
    border-style: none;
    margin: 10px 1px;
    border-radius: 70%;
}
